<article class="error">
    <img src="https://i.pinimg.com/736x/33/42/e4/3342e4ba684ff017acff7382cad86c7f.jpg" alt="">
    <li class="page-item btn btn-dark" style="color:white">
        <a class="page-link" href="/login">Back Log In </a>
    </li>
</article>