/* Estilos para la página de éxito */
.success-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.success-container h2 {
  margin-top: 0;
}

.success-container p {
  margin-bottom: 0;
}
