<div>
  <div class="containerForm">

    
      <input type="text" placeholder="Nombre" name="firstName" id="firstName" />
      <input type="text" placeholder="Apellido" name="lastName" id="lastName" />
      <input type="number" placeholder="Edad" name="age" id="age" />
      <input type="email" placeholder="email" name="email" id="email" />
      <input type="password" placeholder="Contraseña" name="password" id="password" />
      <button id="signup">Enviar</button>
   
  </div>

</div>