<h1>Chat Room</h1>
<div id="chat" class="chat-container">
	<div id="messages-list" class="messages-list">
		{{#each messages}}
			<div class="message-box">
				<small class="message-user">{{this.user}}</small>
				<div class="message-text">{{this.message}}</div>
				<small class="message-time">{{this.createdAt}}</small>
			</div>
		{{/each}}
	</div>
	<form id="message-form" class="message-form">
		<input type="text" id="message-input" class="message-input" autocomplete="off" />
		<button type="button" id="send-message-btn" class="send-message-btn">Send</button>
	</form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>