<div class="login-container">
  <form id="login-form" class="login-form">
    <h2>Reinicia tu contrasena</h2>
    <div class="form-group">

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div class="form-group">

      <label for="newPassword">Nueva Contrasena:</label>
      <input type="password" id="newPassword" name="newPassword" required />
    </div>
    <div class="form-group">
      <label for="newTwoPassword">Valide su Contrasena:</label>
      <input
        type="password"
        id="newTwoPassword"
        name="newTwoPassword"
        required
      />
    </div>

    <button id="signup" type="submit">Ingresar</button>
  </form>
</div>
<script src="js/forgot.js"></script>