<div>
  <div class="chat-container">
    <div class="chat-header">
      <h2>My Chat</h2>
    </div>

    <div class="chat-window">

      <div id="messageLogs"></div>

    </div>

    <div class="chat-input-container">
      <input
        type="text"
        placeholder="Escribe un mensaje..."
        name="message"
        id="chatBox"
      />
    </div>
  </div>

</div>
<script src="/socket.io/socket.io.js"></script>