<div class="containerForm">
    <h1>Bienvenido al Almacen de Barrio</h1>
    
    <a href="/api/login"><button>Entrar</button></a>
    <a href="/api/registro"><button>Registrarse</button></a>
    
    
    <p>Recuerda que para entrar primero debes estar registrado</p>
</div>