<div class="navHome">
    <h2 class="logo">ADB</h2>
    <h1 class="tituloHome">Lista de productos</h1>
    <div class="btnNav">
        <a href="/api/home/cart" id="linkCarrito" class="mx-2"><button class="btnCarrito">CARRITO</button></a>
        <button class="btnCarrito" id="logout">Logout</button>
    </div>
</div>
<h3 style="color: #fff">BIENVENIDO {{firstName}} {{lastName}} {{admin}}</h3>



<div class="containerCard" id="containerCards"></div>
 
<div class="containerBtn">
    <button id="btnAnterior">PAGINA ANTERIOR</button>
    <h5 style="color: white">Pagina <span  id="pag"></span></h5>
    <button id="btnSiguiente">PAGINA SIGUIENTE</button>
</div>