<div class="login-container">
  <form id="signup-form" class="signup-form">
    <h2>Crea tu usuario</h2>
    <div class="form-group">

      <label for="first_name">Nombre:</label>
      <input type="text" id="first_name" name="first_name" required />
    </div>
    <div class="form-group">

      <label for="last_name">Apellido:</label>
      <input type="text" id="last_name" name="last_name" required />
    </div>
    <div class="form-group">

      <label for="age">Edad:</label>
      <input type="number" id="age" name="age" required />
    </div>
    <div class="form-group">

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div class="form-group">

      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required />

    </div>
    <button id="signup" type="submit">Ingresar</button>
  </form>
</div>
<script src="js/signup.js"></script>