<div>
  <div>
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="nombre" />
  </div>
  <div class="form-group">
    <label for="lastname">Apellido</label>
    <input type="text" class="form-control" id="apellido" />
  </div>
  <div class="form-group">
    <label for="age">Edad</label>
    <input type="number" class="form-control" id="edad" />
  </div>
  <div class="form-group">
    <label for="email">Correo electrónico</label>
    <input type="email" class="form-control" id="email" />
  </div>
  <button
    id="crearusuario"
    type="submit"
    class="btn btn-primary"
  >Enviar</button>
</div>
<script src="/js/crearusuario.js"></script>