<h2>Backend chat</h2>

<div>
    <input id="chatBox">
</div>
<div>
    <p id="messageslogs"></p>
</div>

<script src='//cdn.jsdelivr.net/npm/sweetalert2@11'></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>